package main

// 酷Q配置
const (
	CQTOKEN  = "MY_TOKEN"
	CQAPI    = "ws://localhost:6700"
	CQSECRET = "MY_SECRET"
)

// Redis数据库连接配置
const (
	DBADDR     = "localhost:6379"
	DBPASSWORD = ""
	DBDB       = 0
)

// 常规配置
const (
	DEBUG            = true
	HELPSTRING       = `/help or /帮助  -显示本帮助
/复读 [参数]  -复读指定内容
/ping  -PONG!
/存轴 [标题][内容] -存时间轴
/查轴 [标题] -查时间轴
/删轴 [标题] -删时间轴`
)